.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brushSizeLabel {
  margin-top: 20px;
  font-size: 20px;
  padding: 2px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 40px;
  cursor: pointer;
  align-items: center;
}

.button {
  padding: 15px 25px;
  font-size: 16px;
  background-color: #884f9f;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
  width: 200px;
  text-align: center;
}

.button:hover {
  background-color: rgba(136, 79, 159, 0.8);
  transform: translateY(-3px);
}

.button:active {
  transform: translateY(1px);
}

.rangeInput {
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #6f3f7f;
  outline: none;
  transition: background 0.3s ease;
}

.rangeInput::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  background: #6f3f7f;
  border-radius: 10px;
}
