.label {
  margin-top: 5px;
  color: white;
  font-size: 30px;
  text-align: center;
}

.sharedContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 20px;
  align-items: center;
  height: 980px;
  overflow-y: scroll;
}

.textItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colorContainer {
  display: flex;
  flex-direction: row;
}

.colorBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circle {
  color: white;
  cursor: pointer;
}

.black {
  color: black;
}

.white {
  color: white;
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.purple {
  color: purple;
}
