.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px dashed #fff;
  border-radius: 30px;
  width: 700px;
  height: 500px;
  transition: background-color 0.3s;
}

.uploadArea:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.dragOver {
  background-color: rgba(255, 255, 255, 0.2);
}

.uploadLabel {
  display: block;
  cursor: pointer;
}

.uploadIcon {
  font-size: 70px !important;
  color: #884f9f;
}

.uploadText {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  font-size: 36px;
}
