.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  height: 980px;
  width: 350px;
  border: solid black 1px;
}

.label {
  margin-top: 5px;
  color: white;
  font-size: 25px;
  text-align: center;
}

.sharedContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  align-items: center;
  height: 980px;
  overflow-y: scroll;
}

/* фильтры */
.filterItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterBlock {
  width: 250px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* резкость и всякая штука */
.tuneItem {
  margin: 10px 0;
  width: 250px;
}

/* обрезание */
.cropItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

/* надо будет потом понять, почему именно при использовании иконок @mui/material, сбрасывается размер
(приходится для каждой иконки отдельный стиль прописывать) ╭∩╮( •̀_·́ )╭∩╮ */

.cropIcon.crop169 {
  font-size: 80px;
  color: white;
  cursor: pointer;
}

.cropIcon.square {
  font-size: 80px;
  color: white;
  cursor: pointer;
}

.cropIcon.crop916 {
  transform: rotate(90deg);
  font-size: 80px;
  color: white;
  cursor: pointer;
}

.cropIcon.crop32 {
  transform: rotate(90deg);
  font-size: 80px;
  color: white;
  cursor: pointer;
}

.cropIcon.crop54 {
  transform: rotate(90deg);
  font-size: 80px;
  color: white;
  cursor: pointer;
}

.cropIcon.crop75 {
  transform: rotate(90deg);
  font-size: 80px;
  color: white;
  cursor: pointer;
}

.dimensionInputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.dimensionInput {
  padding: 5px;
  font-size: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #1e1e1e;
  color: white;
  outline: none;
  width: 100px;
  transition: 0.2s;
  margin-top: 10px;
}

.label > input {
  margin-left: 20px;
}

.dimensionInput:focus {
  border-color: #884f9f;
}
