.mainContainer {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  height: 980px;
  width: 350px;
  border: solid black 1px;
}

@media (max-width: 1900px) {
  .mainContainer {
    height: 90vh;
    width: 30vw;
  }
}

@media (min-width: 2000px) {
  .mainContainer {
    height: 90vh;
    width: 20vw;
  }
}
