.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 22%;
  left: 26%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  box-sizing: border-box;
  border-radius: 40px;
  border: 1px;
  background-color: #1e1e1e;
  width: 550px;
  height: 700px;
}

.clearIcon {
  margin-left: 445px;
  margin-top: 35px;
  color: #884f9f;
  cursor: pointer;
}
