@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --background-color: #191919;
  --primary-color: #884f9f;
  --secondary-color: #686868;
  --corners: calc(30deg);
  --font-family: 'B612 Mono', sans-serif;
}

.b612-mono-regular {
  font-family: 'B612 Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.b612-mono-bold {
  font-family: 'B612 Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.b612-mono-regular-italic {
  font-family: 'B612 Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.b612-mono-bold-italic {
  font-family: 'B612 Mono', monospace;
  font-weight: 700;
  font-style: italic;
}
