/* Importing the B612 Mono font */
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Root variables for theme customization */
:root {
  --background-color: #191919;
  --primary-color: #884f9f;
  --secondary-color: #686868;
  --corners: calc(30deg);
  --font-family: 'B612 Mono', sans-serif;
}

/* Font styles using B612 Mono */
.b612-mono-regular {
  font-family: 'B612 Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.b612-mono-bold {
  font-family: 'B612 Mono', monospace;
  font-weight: 700;
  font-style: normal;
}

.b612-mono-regular-italic {
  font-family: 'B612 Mono', monospace;
  font-weight: 400;
  font-style: italic;
}

.b612-mono-bold-italic {
  font-family: 'B612 Mono', monospace;
  font-weight: 700;
  font-style: italic;
}

.modal-window {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-dialog {
  padding: 20px;
  border-radius: var(--corners);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 650px;
  background-color: var(--background-color);
}

.modal-title {
  font-family: var(--font-family);
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.text-field {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}

.text-field label {
  color: var(--secondary-color);
}

.text-field input {
  color: var(--secondary-color);
}

.social-btns .MuiButton-root {
  background-color: #fff;
  color: var(--primary-color);
  border: none;
}

.social-btns .MuiButton-root:hover {
  background-color: #e0e0e0; /* Slightly lighter color on hover */
}

.footer-text {
  font-size: 0.875rem;
  color: #fff;
}

.footer-link {
  font-size: 0.875rem;
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.footer-link:hover {
  color: #aa6ccf; /* Lighter color on hover */
}
